.body{
    background-color: rgb(196, 196, 196);
    padding: 1rem;
}

#logo{
    display: inline;
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin: 0rem 0rem 0rem;
    cursor: pointer;
}

.SUP_top_menu{
    display: inline;
}

#Button{
    float: right;
    margin: -1px;
}

#Dark_mode_button{
    background: rgb(219, 63, 63);
    border-style: none;
    margin-right: 15px;
    padding: 1rem 1rem 1rem;
    border-radius: 00.7rem;
    font-size:17px;
    font-family: arial;
    color: cornsilk;
    font:bold;
}